@font-face {
	font-family: 'gothambold1';
	src: url('./gothambold1.eot');
	src: local('gothambold1'), url('./fonts/gothambold/gothambold1.woff') format('woff'), url('./fonts/gothambold/gothambold1.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamBook';
	src: url('./GothamBook.eot');
	src: local('GothamBook'), url('./fonts/gothambook/GothamBook.woff') format('woff'), url('./fonts/gothambook/GothamBook.ttf') format('truetype');
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

//default width for content
.wrapper {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

// header

.header {
    background: url(./images/bg-1.jpg) no-repeat center;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;

    .wrapper--height {
        height: 100%;
    }
    
    &__inner {
        width: 100%;
        height: 100%;
        padding: 50px 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav__logo {
            max-width: 241px;
            width: 100%;
        }

        .nav__menuToggle {
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            line-height: 45px;
            padding: 10px;
            font-size: 44px;
            color: #fff;
            border: 0;
            cursor: pointer;
            outline: none;
            z-index: 100;
        }

        .nav__list {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            padding: 0 80px;

            .nav__link {
                font-family: 'GothamBook';
                font-size: 14px;
                font-weight: 400;
                color: #fff;
                text-transform: uppercase;

                &:hover {
                    color: #2c4058;
                }
            
                &:active {
                    opacity: 0.3;
                }
            }

            .nav__link::before {
                display: inline-block;
                width: 6px;
                height: 6px;
                margin-right: 14px;
                content: '';
                border-radius: 50%;
                border: 1px solid #fff;
            }

            .nav__link:hover::before {
                background-color: #fff;
            }

        }
        .nav__social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 166px;
            width: 100%;
        }
        
        .social-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid #ab9cfe;
            border-radius: 50%;
    
            &:hover {
                opacity: 0.7;
                transition: all 0.3s linear;
            }
        
            &:active {
                opacity: 0.3;
            }
        }
    
        .fab {
            color: white;
        }
    }


    &__block-slider {
        // min-width: 760px;
        // width: 100%;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__title {
        font-family: 'gothambold1';
        padding-bottom: 30px;
        font-size: 80px;
        letter-spacing: 5px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: 'GothamBook';
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: lighter;
        text-transform: uppercase;
    }

    &__scroll {
        position: absolute;
        right: 50%;
        top: calc(100vh - 90px);

        &:hover {
            opacity: 0.7;
            transition: all 0.3s linear;
            transform: scale(1.1);
        }
    
        &:active {
            opacity: 0.3;
        }
    }

    .dots-header {
        position: fixed;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-flow: column nowrap;
        z-index: 9999;

        &__item {
            width: 8px;
            height: 8px;
            margin: 20px 0;
            border-radius: 50%;
            border: 1px solid #fff;
            box-shadow: 0px 0px 0px 1px #ab9cfe;

            &--active,
            &:hover {
                cursor: pointer;
                background: #fff;
            }
        }
    }
    
    .dots__link {
        display: inline-block;
        width: 15px;
        height: 15px;
    }
    
}

.checkbox {
    position: absolute;
    top: -999999px;
    left: -999999px;
    visibility: hidden;
    }

    .nav__toggler-input {
        display: none;
        position: absolute;
        right: 15px;
        width: 42px;
        height: 42px;
        cursor: pointer;

        .fas {
            font-size: 42px;
            color: #fff;
        }
    }

    .nav__toggler-input:hover {
        opacity: 0.7;
    }


@media only screen and (max-width: 980px) {
    .header {
        &__nav {
            display: flex;
            flex-direction: column;
            // justify-content: flex-start;
            align-items: flex-start;
        }


        .nav__toggler-input {
            display: block;
        }
    
        .nav__list {
            display: none;
        }

        .nav__social {
            display: none;
        }
    
        .checkbox:checked ~ .nav__list {
            background-color: transparent;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: 200px;
            font-size: 12px;
            overflow: visible;
        }
    
        .nav__item {
            padding: 10px 5px;
            width: 100%;
            text-align: left;
        }

        &__block-slider {
           max-width: 980px;
           width: 100%;
        }

        &__title {
            font-size: 44px;
        }

        &__subtitle {
            font-size: 22px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .header {
        &__nav {
            flex-direction: column;
        }

        &__title {
            font-size: 28px;
        }

        &__subtitle {
            font-size: 14px;
        }
        .dots-header {
            display: none;
        }

        &__block-slider {
            max-width: 500px;
            width: 100%;
         }
    }
}

// block-info

.block-info {
    background-color: white;;
    background-position: center;
    background-size: cover;
    color: #2c4058;
    
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        padding-top: 100px;
    }

    &__title-line {
        width: 100px;
        height: 1px;
        margin: 0 auto;
        border: none;
        background-color: #2c4058;
        margin-bottom: 40px;
    }

    &__title-text {
        font-family: 'gothambold1';
        font-size: 44px;
        text-transform: uppercase;
    }

    &__top {
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        align-items: center;
        margin-top: 170px;
        margin-bottom: 210px;
    }

    &__bottom-right {
        max-width: 630px;
        // width: 50%;
    }

    &__top-left {
        max-width: 630px;
        // width: 50%;
    }

    &__top-right {
        margin-left: 70px;
        margin-top: 60px;
    }

    &__bottom-left {
        margin-right: 70px;
        margin-top: 60px;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        align-items: center;
        margin-bottom: 140px;
    }

    &__img-right {
        box-shadow: 215px -70px 0px #7e5aff;

        // img {
        //     height: auto;
        //     width: 100%;
        // }
    }
    
    &__img-left {
        box-shadow: -215px -70px 0px #55b7ff;

        // img {
        //     height: auto;
        //     width: 100%;
        // }
    }

    .mini-block {

        &__title {
            font-family: 'GothamBook';
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__title--bold {
            font-family: 'gothambold1';
            font-size: 44px;
            margin-bottom: 40px;
            
        }

        &__text {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            line-height: 30px;
            text-align: justify;
        }

        &__button {
            margin-top: 35px;
            margin-bottom: 60px;
            color: #5474fd;
        }

        &__source {
            display: flex;
            flex-direction: row;
        }

        &__source-text {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-style: italic;
        }

        .btn {
            padding: 15px 10px;
            min-width: 190px;
            font-family: 'GothamBook';
            font-size: 14px;
            line-height: 22px;
            background-color: #ffffff;
            border: 1px solid black;
            text-transform: uppercase;
            color: #2c4058;
            cursor: pointer;
        }
    
        .btn:hover {
            background-color: #2c4058;
            color: white;
            opacity: 0.7;
            transition: all 0.3s linear;
        }
    
        .btn:active {
            opacity: 0.3;
        }

        .fas {
            color: #2c4058;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .block-info {
        &__title {
            padding-top: 70px;
        }

        &__top {
            flex-direction: column;
            margin-top: 70px;
            margin-bottom: 100px;
        }

        &__top-right {
            margin-left: 35px;
            margin-top: 60px;
        }

        &__img-left {
            box-shadow: -35px -35px 0px #55b7ff;

            img {
                max-width: 500px;
                width: 100%;
                height: auto;
            }
        }

        &__bottom {
            flex-direction: column-reverse;
            margin-bottom: 70px;
        }

        &__bottom-left {
            margin-left: 35px;
            margin-right: 0;
            margin-top: 60px;
        }

        &__img-right {
            box-shadow: 35px -35px 0px #7e5aff;
        
            img {
                max-width: 500px;
                width: 100%;
                height: auto;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .block-info {
        &__title {
            padding-top: 70px;
        }

        &__top {
            flex-direction: column;
            margin-top: 70px;
            margin-bottom: 100px;
        }

        &__top-right {
            margin-left: 35px;
            margin-top: 60px;
            margin-right: 30px;
        }

        &__img-left {
            box-shadow: -35px -35px 0px #55b7ff;

            img {
                max-width: 500px;
                width: 100%;
                height: auto;
            }
        }

        &__bottom {
            flex-direction: column-reverse;
            margin-bottom: 70px;
        }

        &__bottom-left {
            margin-left: 35px;
            margin-right: 0;
            margin-top: 60px;
            margin-right: 30px;
        }

        &__img-right {
            box-shadow: 35px -35px 0px #7e5aff;
        
            img {
                max-width: 500px;
                width: 100%;
                height: auto;
            }
        }

    }
}

.block-slider {
    background: url(./images/bg-2.jpg) no-repeat center;
    
    &__inner {
        display: flex;
        flex-direction: column;
        padding-top: 140px;
        padding-bottom: 120px;
    }

    &__title {
        text-align: center;
        margin-bottom: 100px;
        color: white;
    }

    &__title-line {
        width: 100px;
        height: 1px;
        margin: 0 auto;
        border: none;
        margin-bottom: 40px;
        background-color: white;
    }

    &__title-text {
        font-family: "gothambold1";
        font-size: 44px;
        text-transform: uppercase;
    }

    &__slick {
        position: relative;
    }

    &__item {
        display: flex !important;
        flex-direction: column;
        min-height: 514px;
        height: 100%;
        background-color: white;
        margin: 0 15px;
        overflow: hidden;
    }

    .item-top {
        flex: 1 1 auto;

        &__img {
            height: 240px;
        }

        &__photo {
            width: 100%;
            height: 100%;
        }

        &__content {
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &__title {
            font-family: "gothambold1";
            font-size: 22px;
            text-transform: uppercase;
            overflow: auto;
        }

        &__text {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            padding: 20px 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .item-description {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;

        &__icon {
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }

        &__info {
            margin-left: 20px;
        }

        &__author {
            font-family: 'GothamBook';
            font-size: 18px;
            text-transform: uppercase;
            color: #2c4058;
            padding: 8px 0;
        }

        &__date {
            font-family: 'GothamBook';
            font-size: 14px;
            color: #55b7ff;
        }
    }

    // .slick-dots {
    //     padding-top: 60px;
    // }

}    

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    background-color: transparent;
    z-index: 9999;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    
}

.slider-btn--next {
    right: -60px;
}

.slider-btn--prev {
    left: -60px;
}

.slick-dots {
    bottom: -50px;
} 

.slick-dots li button:before {
    position: inherit;
    content: '○';
    color: white;
    font-size: 18px;
}

.slick-dots li.slick-active button:before {
    font-size: 10px;
    content: '•';
    color: white;
}


.block-gallery {
    background-color: white;;
    background-position: center;
    background-size: cover;
    color: #2c4058;
    
    &__inner {
        display: flex;
        flex-direction: column;
        padding-top: 140px;
        margin-bottom: 140px;
    }

    &__title {
        margin-bottom: 100px;
        text-align: center;
    }

    &__title-line {
        width: 100px;
        height: 1px;
        margin: 0 auto;
        border: none;
        background-color: #2c4058;
        margin-bottom: 40px;
    }

    &__title-text {
        font-family: "gothambold1";
        font-size: 44px;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    } 

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 50%;
        margin-left: 5px;
    }

    &__item--wide {
        width: 50%;
        height: 100%;
        position: relative;
        text-align: center;
        margin-right: 5px;
    }

    &__item-photo--right {
       padding-right: 5px;
    }

    &__item-photo--left {
       padding-left: 5px;
    }

    &__item-photo--bottom {
       padding-bottom: 5px;
    }

    &__item-photo--top {
       padding-top: 5px;
    }

    &__item-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__item-photo {
        width: 50%;
    }

    &__item-photo--wide {
        width: 100%;
    }

    .block-gallery__item-icon:hover {
        opacity: 0.7;
        transition: all 0.3s linear;
    }

    .block-gallery__item-icon:active {
        opacity: 0.3;
    }

    &__button {
        margin: 0 auto;
    }
    
    .btn {
        padding: 15px 10px;
        width: 100%;
        min-width: 190px;
        font-family: 'GothamBook';
        font-size: 14px;
        background-color: #ffffff;
        border: 1px solid black;
        text-transform: uppercase;
        color: #2c4058;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #2c4058;
        color: white;
        opacity: 0.7;
        transition: all 0.3s linear;
    }

    .btn:active {
        opacity: 0.3;
    }
}

@media only screen and (max-width: 500px) {
    .block-gallery {
        &__inner {
            padding-top: 70px;
            margin-bottom: 70px;
        }
    }
}

.block-map {
    background: url(./images/snazzy.jpg) no-repeat center;
    height: 700px;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .block-map {
        height: 400px;
    }
}

.block-footer {
    background: url(./images/bg-3.jpg) no-repeat center;
    background-size: cover;
    position: relative;

    &__wrapper {
        max-width: 770px;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__contact {
        position: absolute;
        top: -300px;
        max-height: 450px;
        width: 100%;
        max-width: 770px;
        height: 100%;
        background-color: white;
    }

    &__contact-inner {
        padding-top: 45px;
        padding-left: 60px;
        padding-right: 60px;
    }

    &__title {
        text-align: center;
    }

    &__title-line {
        width: 100px;
        height: 1px;
        margin: 0 auto;
        border: none;
        background-color: #2c4058;
        margin-bottom: 30px;
    }

    &__title-text {
        font-size: 44px;
        text-transform: uppercase;
    }

    &__contact-block {
        display: flex;
        flex-direction: row;
        padding-top: 60px;
    }

    &__info {
        width: 50%;
        margin-right: 15px;
    }
    
    &__block-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
    }

    &__info-icon {
        margin-right: 10px;
        color: #7e5aff;
    }

    &__info-title {
        font-family: 'GothamBook';
        font-size: 18px;
        color: #2c4058;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 15px;
    }

    &__input-wrapper {
        font-family: 'GothamBook';
        border-bottom: 1px solid #d5d9de;
        padding-top: 40px;
        font-size: 18px;
    }

    .form-input {
        font-family: 'GothamBook';
        display: inline-block;
        padding-bottom: 20px;
        width: 100%;
        font-size: 18px;
        border: none;
        outline: none;
        
        &:active,
        &:focus,
        &:valid {
            color: #2c4058;
            border-bottom: 1px solid #2c4058;
        }
    }

    &__input-wrapper:first-child {
        padding-top: 0;
    }

    ::-webkit-input-placeholder { 
        font-family: 'GothamBook';
        color:#a5aab0; 
        font-size: 18px;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }
    
    .btn {
        padding: 15px 10px;
        min-width: 140px;
        font-family: 'GothamBook';
        font-size: 14px;
        background-color: #ffffff;
        border: 1px solid #2c4058;
        text-transform: uppercase;
        color: #2c4058;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #2c4058;
        color: white;
        opacity: 0.7;
        transition: all 0.3s linear;
    }

    .btn:active {
        opacity: 0.3;
    }

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 204px;
        margin-bottom: 42px;
        padding: 0 15px;

    }

    &__social {
        display: flex;
        flex-direction: row;
    }

    .social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #ab9cfe;
        border-radius: 50%;
        margin-left: 20px;

        &:hover {
            opacity: 0.7;
            transition: all 0.3s linear;
        }
    
        &:active {
            opacity: 0.3;
        }
    }

    .fab {
        color: white;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        margin-bottom: 208px;
        color: white;
        padding: 0 15px;

    }

    &__bottom-text {
        font-family: 'GothamBook';
        font-size: 14px;

    }

    .vl {
        border-left: 1px solid #b1ceff;
        margin-left: 20px;
        padding-left: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .block-footer {    
        &__title-text {
            font-size: 30px;
        }

        &__info-title {
            font-size: 14px;
        }

        &__input-wrapper {
            font-size: 14px;
        }

        .form-input {
            font-size: 14px;
        }

        ::-webkit-input-placeholder { 
            font-size: 14px;
        }

        .btn {
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .block-footer {    

        &__contact {
            max-height: 250px;
            top: -180px;
        }

        &__contact-inner {
            padding-top: 25px;
            padding-left: 30px;
            padding-right: 30px;
        }

        &__title-line {
            width: 50px;
            margin-bottom: 15px;
        }

        &__title-text {
            font-size: 22px;
        }

        &__contact-block {
            padding-top: 30px;
        }

        &__block-info {
            margin-bottom: 20px;
        }

        &__info-title {
            font-size: 11px;
        }

        &__input-wrapper {
            font-size: 11px;
            padding-top: 20px;
        }

        .form-input {
            padding-bottom: 10px;
            font-size: 11px;
        }

        ::-webkit-input-placeholder { 
            font-size: 11px;
        }

        &__button {
            margin-top: 15px;
        }

        .btn {
            padding: 8px 5px;
            min-width: 70px;
            font-size: 9px;
        }

        &__top {
            flex-direction: column;
            align-items: center;
            margin-top: 150px;
        }

        &__social {
            margin-top: 10px;
        }

        &__bottom {
            margin-bottom: 100px;
        }
    }
}